body {
  background-color: black;
  margin: 0;
  /* padding: 0; */
}

/* .logo {
  width: 100vw;
  height: 100vh;
} */

.box {
  width: 30px;
  height: 30px;
  animation: moveBoxes 2s ease-in-out 1s 1 normal both;
  animation-fill-mode: both;
}

.box-red {
  background-color: red;
}

.box-blue {
  background-color: blue;
}

.box-green {
  background-color: green;
}

.box-orange {
  background-color: orange;
}

/* @keyframes moveBoxes {
  100% {
    transform: translate(calc(50vw - 15px), calc(50vh - 60px)) skewY(25deg) scaleX(8);
  }
} */

@keyframes moveBoxes {
  to {transform: translate(50vw, 50vh) scaleX(10) skewY(60deg);}
}